//
// Color
//

// basic
$color-primary-dark                   : #222222;
$color-primary-light                  : #FCFCFC;
$color-primary                        : #FFBC00;



$color-danger                         : rgb(213, 049, 049); // #d53131: reddish
$color-warn                           : rgb(239, 132, 060); // #ef843c: dusty-orange

// gray
$gray-black                           : rgb(000, 000, 000); // #000000
$gray-darkest                         : rgb(097, 103, 111); // #61676f: slate-grey
$gray-darker                          : rgb(112, 112, 112); // #818891: steel
$gray-dark                            : rgb(174, 174, 174); // #aeaeae: light-grey
$gray                                 : rgb(209, 209, 209); // #D1D1D1:
$gray-light                           : rgb(239, 239, 239); // #EFEFEF: light-gray
$gray-lighter                         : rgb(243, 245, 246); // #f3f5f6: ice-gray
$gray-lightest                        : rgb(241, 243, 249); // #f1f3f9: light-pale-grey
$gray-white                           : rgb(255, 255, 255); // #ffffff

// background
$background-color-primary             :#F8F8F8;


//
// Transition
//

$transition-mode                      : cubic-bezier( .25, .8, .25, 1);


//
// Texting
//

$font-family                          : "Roboto","Lato", "-apple-system", "PingFang-TC", "Segoe UI", "Microsoft JhengHei", "Oxygen", "Fira Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
$font-logo                            : "Modern No. 20";
$font-size-xl                         : 36px;
$font-size-lg                         : 20px;
$font-size-md                         : 16px;
$font-size-sm                         : 14px;
$font-size-xs                         : 12px;


//
// Usage
//
$mobile-width: 375px;
$table-width: 750px;
$laptop-width: 992px;
$desktop-width: 1200px;

//
// RWD
//

@mixin above-mobile() {
  @media screen and (min-width: $mobile-width) {
    @content;
  }
}

@mixin above-table() {
  @media screen and (min-width: $table-width) {
    @content;
  }
}

@mixin above-laptop() {
  @media screen and (min-width: $laptop-width) {
    @content;
  }
}

@mixin above-desktop() {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}
