.transaction {
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  background-color: #fff;
  &-form {
    width: 100%;
    padding: 60px;
  }
  .steps {
    &-header {
      display: flex;
      align-items: center;
      &__title {
        font-size: 28px;
        color: $color-primary;
        margin-right: 11px;
      }
      &__description {
        font-size: $font-size-lg;
      }
    }
  }
}